* {
  margin: 0;
}

body {
  background-color: #F4F4F4;
}

.header-container {
  background-color: #FFFFFF;
}

.image-container {
  position: relative;
  margin-top: 50px;
  margin-left: 12vw;
  width: 88vw;
  background-color: #FFFFFF;
}
* {
  margin: 0;
}

:root {
  --primary-color: #F4F4F4;
  --secondary-color: #FFFFFF;
  --accent-color: #4A90E2;
  --font-color: #2E2E2E;
  --main-font-stack: "Roboto", "Verdana", sans-serif;
}

body {
  background-color: var(--primary-color);
}

.header-container {
  background-color: var(--secondary-color);
}

.image-container {
  position: relative;
  margin-top: 25px;
  margin-left: 12vw;
  width: 88vw;
  background-color: var(--secondary-color);
}

.image-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.text {
  position: absolute;
  top: 50px;
  left: 325px;
  font-family: var(--main-font-stack);
  color: var(--font-color);
}

.text h1 {
  margin: 0;
}

.text h2{
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
}

.links {
  position: absolute;
  margin-top: 10px;
}

.links img {
  width: 25px;
  height: 25px;
}